
body{
    font-family: 'The Nautigal', cursive;
    margin:0;
    background-image: url('photo-1585314062604-1a357de8b000.jpg');

}

.work1{
    background-image: url('photo-1585314062604-1a357de8b000.jpg');

}
.work2{
    display:flex;
}
.work3{
    border-left:5px solid;
    margin-left:100px;
    border-image:linear-gradient(tomato,orange,red,blue,black);
    border-image-slice:1;
    padding:5px;
    width:50%;
}
.work4{
    color:cyan;
}
.work5{
    color:chartreuse;
   

}
.work6{
    color:ghostwhite;
    text-align:justify;
}
.work7{
    
    width:50%;
    margin-left:20px;
}
.work8{
    text-decoration:none;
    background-image:linear-gradient(tomato,red,cyan,blue);
    border-radius:10px;
    padding:5px;
    color:green;



}
.work9{
    color:tomato;
}
.work10{
    
    width:40%;
}
.batting{
    background-color:thistle;
    padding:10px;
    margin:10px;
    margin-left: 50px;
    text-align:justify;
    border-radius:18px;
    width:50%;
    box-shadow: 10px 10px 10px pink;

}
.bowlinng{
    background-color:whitesmoke;
    padding:10px;
    margin:10px;
    text-align:justify;
    border-radius:18px;
    width:50%;
    box-shadow:10px 10px 10px gray;
}
.bpl{
    background-color: silver;
    padding:10px;
    margin:10px;
    margin-right:50px;
    text-align:justify;
    border-radius:18px;
    width:50%;
    box-shadow:10px 10px 10px white;

}
.work11{
    display:flex;
    
}
.work12{
    color:violet;
}
.work13{
    margin-left:50px; 
}
.work14{
    
    display:flex;
    margin-top: 60px;
  
   
    
}
.work15{
    color:cyan;

}
.work16{
    border:2px solid;
    border-radius:15px;
    width:60%;
    margin-left:90px;
    background-image:url(shape-1.png);
    background-position: left;
}
.work17{
    color:whitesmoke;
}
.work18{
    width:50%;
    text-align:justify;
}
.work19{
    background-image:radial-gradient(tomato,orange,red);
    text-decoration:none;
    padding:7px;
    border-radius:10px;
}
.work20{
    
}
.work21{
    color:red;
}
.work22{
    color:springgreen;
}